{% extends 'rent/base.html' %}
{% block context %}
    <div class="container">
        <h2 class="text-center center__elem-announce" id="announce-title">Добавление объявления</h2>
 		<hr class="center__elem-announce">
        <form action="" method="post" class="announce-form" enctype="multipart/form-data">
            <input type="text" name="city" maxlength="50" class="center-inputs form-control" placeholder="Город" required="" id="id_city">
            <input type="text" name="address" maxlength="200" class="center-inputs form-control" placeholder="Адрес" required="" id="id_address">
            <input type="number" name="count_room" step="any" class="center-inputs form-control" placeholder="Количество комнат" required="" id="id_count_room">
            <input type="number" name="price" step="any" class="center-inputs form-control" placeholder="Цена" required="" id="id_price">
            <!-- <label for="id_is_active">Сделать видимым для всех пользователей?</label>
            <input type="checkbox" name="is_active" id="id_is_active"> -->
            <textarea name="description" cols="40" rows="10" class="center-inputs form-control" placeholder="Описание" required="" id="id_description"></textarea>
            <input type="file" name="file_field" multiple="" accept="image/*" class="center-inputs form-control" required="" id="id_file_field">
            <input type="submit" class="center-inputs form-control submit_announce" value="Отправить">
            {% csrf_token %}
        </form>
    </div>
        
{% endblock %}