{% extends 'rent/base.html' %}
{% block title %}
    Place detail
{% endblock %}

{% block context %}

    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-20 clearfix">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators gallery-flex">

                                {% for image in advert.images.all %}
                                    {% if forloop.first %}
                                        <li class="photo-height active" data-target="#product_details_slider"
                                            data-slide-to="{{ forloop.counter0 }}"
                                            style="background-image: url({{ image.file.url }}); flex: 0 0 32%;">
                                        </li>
                                    {% else %}
                                        <li class="photo-height" data-target="#product_details_slider"
                                            data-slide-to="{{ forloop.counter0 }}"
                                            style="background-image: url({{ image.file.url }}); flex: 0 0 32%;">
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner" onclick="sliderFunc({{ images_list }})">
                                {% for image in advert.images.all %}
                                    {% if forloop.first %}
                                        <div class="carousel-item active">
                                            <a class="gallery_img" href="{{ image.file.url }}">
                                                <img class="d-block w-100" src="{{ image.file.url }}" alt="Main slide">
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <a class="gallery_img" href="{{ image.file.url }}">
                                                <img class="d-block w-100" src="{{ image.file.url }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">$ {{ advert.price }} </p> <i class="fa fa-eye"
                                                                                 aria-hidden="true"></i> {{ advert.see_counter }}
                            <p class="advert-detail-title">Местположение:</p>
                            <p class="advert-detail-article">{{ advert.address }}</p>

                        </div>

                        <div class="short_overview my-5 non-indent">
                            <p class="advert-detail-title">Количество комнат:</p>
                            {% if advert.count_room %}
                                <p class="advert-detail-article">{{ advert.count_room }}</p>
                            {% endif %}

                            <p class="advert-detail-title">Описание:</p>
                            {% if advert.description %}
                                <p class="advert-detail-article">{{ advert.description }}</p>
                            {% endif %}

                            <p class="advert-detail-title">Телефон:</p>
                            {% if advert.phone_number %}
                                <a href="tel:{{ advert.phone_number }}" class="advert-detail-article">{{ advert.phone_number }}</a>
                            {% endif %}

                            <p class="advert-detail-title">Имя владельца:</p>
                            {% if advert.owner_name %}
                                <p class="advert-detail-article">{{ advert.owner_name }}</p>
                            {% endif %}
                            {% if advert.link %}
                                <h6><a href="{{ advert.link }}"  class="advert-detail-article">Оригинал</a></h6>
                            {% endif %}


                        </div>

                        <!-- Add to Cart Form -->
                        {#                            <form class="cart clearfix" method="post">#}
                        {#                                <div class="cart-btn d-flex mb-50">#}
                        {#                                    <p>Qty</p>#}
                        {#                                    <div class="quantity">#}
                        {#                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>#}
                        {#                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">#}
                        {#                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>#}
                        {#                                    </div>#}
                        {#                                </div>#}

                        {% if advert in request.user.favorites.all %}
                            <a href="{% url 'remove-to-favorite' advert.pk %}?next={% url 'advert-detail' advert.pk %}">
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">Удалить из
                                    закладок
                                </button>
                            </a>
                        {% else %}
                            <a href="{% url 'add-to-favorite' advert.pk %}?next={% url 'advert-detail' advert.pk %}">
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">Добавить в
                                    закладки
                                </button>
                            </a>
                        {% endif %}
                        {% if advert.owner == request.user %}
                            <h3 class="indent"><a href="{% url 'advert_edit' advert.pk %}">
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn" style="min-width: 173px;">Редактировать
                                </button>    
                            </a></h3>
                        {% endif %}
                        {#                              </form>#}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->
{% endblock %}