{% extends 'rent/base.html' %}
{% load static %}
{% block context %}
    <div class="container v-content-position">
        <div class="row">
            <div class="col-12 col-md-12 col-xl-12 mx-auto align-self-start">

                <div>
                    <h3 class="mb-4 inline-flex">Список документов для аренды квартиры:</h3>
                </div>
                <ul class="styled-list" >
                    <li>
                        <p><i class="fa fa-check" aria-hidden="true"></i><a href="{% static 'rent/documents/dogovor-najma-chastnogo-zhilischnogo-fonda.docx'%}">Договор найма жилого помещения частного жилищного фонда граждан</a></p>
                    </li>
                    <li>
                        <p><i class="fa fa-check" aria-hidden="true"></i><a href="{% static 'rent/documents/doverennost_na_rasporagenie_imushestvom.doc'%}">Доверенность на распоряжение квартирой</a></p>
                    </li>
                </ul>
                <br>
                <div>
                    <h3 class="mb-4 inline-flex">Зачем нужен договор найма?</h3>
                    <section>
                        <p class="mb-3">Рекомендация для всех — платить налоги, как и заключать договор.
                            <br>Любые правовые отношения нуждаются в соответствующем регулировании и закреплении.
                            <br>Не заключив договор, наймодатель может в любой момент просто выселить арендатора,
                            <br>который в такой ситуации абсолютно бесправен. Или арендатор может нанести вред квартире и съехать,
                            <br>и арендодатель ничего не сможет никому предъявить. Имея на руках договор найма, все защищены.</p>

                    </section>
                    <br>
                    <h3 class="mb-4 inline-flex">Как заключить договор найма жилого помещения?</h3>
                    <section>
                        <p class="mb-3">Договор найма заключается в письменной форме и регистрируется в расчетно-справочных центрах
                            <br>в Минске и в администрации города в других населенных пунктах Беларуси. В статье 52 жилищного кодекса
                            <br>«Заключение и регистрация договоров найма жилых помещений» это подробно расписано:</p>
                        <ul class="styled-list" >
                        <li>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Договор найма жилого помещения заключается в письменной форме и считается заключенным с даты его
                                <br>регистрации районным, городским, поселковым, сельским исполнительными комитетами, местной
                                <br>администрацией района в городе, за исключением случая, предусмотренного частью третьей настоящего пункта.</p>
                        </li>
                        <li>
                            <p><i class="fa fa-check" aria-hidden="true"></i>От имени несовершеннолетних граждан (за исключением эмансипированных или вступивших в брак), а также
                                <br>граждан, признанных недееспособными или ограниченных в дееспособности судом, договор найма
                                <br>жилого помещения заключают их законные представители.</p>
                        </li>
                            <li>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Договор найма жилого помещения составляется в трех экземплярах, один из которых хранится у наймодателя,
                                <br>второй — у нанимателя, третий — в районном, городском, поселковом, сельском исполнительных
                                <br>комитетах, местной администрации района в городе, зарегистрировавших этот договор.</p>
                        </li>
                            <li>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Районные, городские, поселковые, сельские исполнительные комитеты, местные администрации районов в городах
                                <br>регистрируют договоры найма жилых помещений в книге регистрации договоров найма жилых помещений
                                <br>государственного и частного жилищных фондов.</p>
                        </li>
                            <li>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Форма и порядок ведения и хранения книги регистрации договоров найма жилых помещений государственного и
                                <br>частного жилищных фондов устанавливаются Министерством жилищно-коммунального хозяйства Республики Беларусь.</p>
                        </li>
                        </ul>

                    </section>

                </div>

            </div>

        </div>
    </div>




{% endblock %}