{% extends 'rent/registration.html' %}
{% load static %}
{% block profile_url %}
{% url 'profile_edit' %}
{% endblock %}
{% block profile_img %}
    {% if request.user.image %}
        {{ request.user.image.url }}
        {% else %}
        {% static 'rent/img/core-img/plusman.png' %}
    {% endif %}
{% endblock %}
{% block profile_username %}{% if request.user.email %}{{ request.user.email }}{% endif %}
{% endblock %}
{% block profile_name %}{% if request.user.name %}{{ request.user.name }}{% endif %}
{% endblock %}
{% block profile_password %}
{% endblock %}
{% block is_agent %}{% if request.user.is_agent %}checked{% endif %}{% endblock %}
{% block profile_phone %}{% if request.user.phone_number %}{{ request.user.phone_number }}{% endif %}{% endblock %}
{% block page_title %}Редактирование профиля{% endblock %}
{% block profile_submit %}Редактировать{% endblock %}