{% extends 'rent/base.html' %}
{% block context %}

    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">
            {% for advert in adverts_list %}
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'advert-detail' advert.pk %}">
                        <!-- Hover Content -->
                        <img src="{{ advert.get_main_image.file.url }}" alt="{{ advert.address }}"
                             style="width:400px;height:350px;">
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>$ {{ advert.price }}</p>
                            <h4 class="font-for-adresses">{{ advert.address }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
        {% if page_obj.paginator.count %}
            <nav aria-label="navigation" class="page-number">
                <ul class="pagination justify-content-end mt-50">
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}

                            <li class="page-item active"><a class="page-link"
                                                            href="?page={{ page_obj.number }}&{{ querystring }}">{{ page_obj.number }}.</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ i }}&{{ querystring }}">{{ i }}.</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
    <!-- Full Page Image Background Carousel Header -->


{% endblock %}

{% block button_filter %}
    <button class="filter-btn"><i class="fa fa-filter" aria-hidden="true"></i></button>
{% endblock %}

{% block search_filter %}
    <form action="" class="filter" id="filter">
        <label for="id_cost_min">Максимальная цена:</label>
        <input type="range" name="cost_min" min="0" max="5000" step="1" class="range" id="id_cost_min">
        <p id="cost_min_value"></p>
        <label for="id_cost_max">Минимальная цена:</label>
        <input type="range" name="cost_max" min="0" max="5000" step="1" class="range" id="id_cost_max">
        <p id="cost_max_value"></p>

        {#        <div class="col-12">#}
        <label for="id_is_owner">Собственник?:</label>
        <input type="checkbox" name="is_owner" id="id_is_owner">

        <div class="row">
            <div class="col">
                <select name="sorting">
                    <option selected="selected">Выберите Сортировку</option>
                    <option>По убыванию цены</option>
                    <option>По возрастанию цены</option>
                </select>
            </div>
            <br><br><hr>
            <div class="col">
                <div class="input-group">
                    <input type="submit" value="Поиск" class="form-control">
                </div>
            </div>

        </div>

    </form>
{% endblock %}