{% extends 'rent/base.html' %}
{% load static %}
{% block context %}
	<div class="cart-table-area section-padding-30 v-content-position">
		<div class="container">
			<h2 class="text-center center__elem" id="title">{% block page_title %}Регистрация{% endblock %}</h2>
 			<hr class="center__elem">
			<div class="row">

				<div class="col-md-5 registration__container">
 					<form role="form" method="post" action="{% block profile_url %}{% url 'registration' %}{% endblock %}"  enctype="multipart/form-data">
						<fieldset>
							{% csrf_token %}

							<div class="add__profile-photo" id="add__profile-photo">
								<input type="file" name="image" accept="image/*" id="add__log-in-img" style="display: none;" onchange="previewFile(this);">
								<img src="{% block profile_img %}{% static 'rent/img/core-img/plusman.png' %}{% endblock %}" class="add-reg-photo v-profile-photo" id="add-reg-photo" alt="">
							</div>
							<div class="form-group">
								<input type="text" name="name" id="name" class="form-control input-lg" placeholder="Имя" value="{% block profile_name %}{% endblock %}" required="">
							</div>
							<div class="form-group">
								<input type="text" name="phone_number" id="phone" class="form-control input-lg" placeholder="Телефон" value="{% block profile_phone %}{% endblock %}" required="">
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="E-mail" value="{% block profile_username %}{% endblock %}" required="">
							</div>
                        {% block profile_password %}
							<div class="form-group">
								<input type="password" name="password1" id="password1" class="form-control input-lg" placeholder="Пароль" required="">
							</div>
							<div class="form-group">
								<input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Подтверждение пароля" required="">
							</div>
							{% endblock %}
							<div class="is_agent">
								<label for="is_agent">Агенство недвижимости</label>
								<input type="checkbox" name="is_agent" id="is_agent" class="is_agent" {% block is_agent %}{% endblock %} >
							</div>
 							<div>
 								<input type="submit" class="btn btn-lg btn-primary btn__reg"   value="{% block profile_submit %}Регистрация{% endblock %}">
 							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>


{#<div class="single-product-area section-padding-20 clearfix mt-30 mb-100">#}
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-12 col-lg-7">#}
{#                        <form action="" method="post">#}
{#                            {{ form.as_p }}#}
{#                            {% csrf_token %}#}
{#                        </form>#}
{##}
{#                    </div>#}
{#                    <div class="col-12 col-lg-5">#}
{#                        Регистрация#}
{#                    </div></div></div></div>#}

{% endblock %}